services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: proaxive
      MYSQL_USER: proaxive
      MYSQL_PASSWORD: S_S@dZuN8)9b
    volumes:
      - db_data:/var/lib/mysql
  php:
    build:
      context: .
      dockerfile: Dockerfile-php
    container_name: php
    restart: always
    volumes:
      - proaxive:/var/www/html
    depends_on:
      - mariadb
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    volumes:
      - proaxive:/var/www/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    ports:
      - "80:80"
  setup:
    image: php:8.4-cli
    container_name: setup
    working_dir: /var/www/html
    command: >
      bash -c "
      if [ ! -d /var/www/html/.git ]; then
        echo 'Installing dependencies...' &&
        apt update -qq && apt install -y git make default-mysql-client curl > /dev/null &&
        docker-php-ext-install pdo pdo_mysql &&
        curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer &&
        echo 'Cloning repository...' &&
        git clone https://github.com/SelMaK-fr/proaxive.git /var/www/html &&
        cd /var/www/html &&
        echo 'Copying config files...' &&
        cp /setup/env /var/www/html/.env &&
        mv .htaccess.lock .htaccess &&
        cp config/parameters.exemple.json config/parameters.json &&
        echo 'Waiting for MariaDB to be ready...' &&
        until mysqladmin ping -h mariadb -u'proaxive' -p'S_S@dZuN8)9b' --silent; do
          echo '... MariaDB not ready yet, waiting 2s';
          sleep 2;
        done &&
        echo 'MariaDB is ready, proceeding with setup.' &&
        make first-install &&
        make migrate &&
        make seed &&
        echo 'Setup finished successfully.'
      else
        echo 'Repository already exists, skipping setup.'
      fi
      "
    volumes:
      - proaxive:/var/www/html
      - ./setup:/setup:ro
    depends_on:
      - mariadb
    restart: "no"

volumes:
  db_data:

  proaxive:

